.Mapa {
    margin-right: 10px; 
  }
  
.search-container {
margin-left: 150px;
margin-top: 60px;
height: 350px; 
overflow-y: auto; 
background-color: #cabc99;
}
 
.search-card-name {
    color: red; 
}

.search-card-direccion {
    color: black; 
}
.container-mapa {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 600px;
}


.list-group-item {
    border: none; 
    padding: 10px 0; 
}

.form-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.form-control {
    margin-right: 10px;
}
.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.list-group-item:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el cursor */
    transition: transform 0.3s ease; /* Animación suave */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
}
/* En NightMode.css */
.night-mode-container.active {
    border: 2px solid #333; /* Color de borde resaltado */
}
/* Animación de palpitar */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Estilo para el botón del formulario de búsqueda */
.btn-outline-success {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    animation: pulse 2s infinite; /* Aplicar la animación */
}

/* Efecto al pasar el cursor sobre el botón */
.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
    animation: none; /* Detener la animación al pasar el cursor */
}

/* Efecto al hacer clic en el botón */
.btn-outline-success:active {
    background-color: #218838;
    color: #fff;
}
